= render 'new_space/header_float'
.main-contents-with-hint__inner
  = form_for @basic_info, html: { class: 'main-contents-with-hint__wrapper' } do |f|
    .main-contents-with-hint__main-wrapper
      .main-contents-with-hint__main
        .space-info-page__title-container
          .space-info-page__title 2 基本情報
          .space-info-page__description
        %div
          .create-space-sections__section
            .form-section-title__container
              .form-section-title__title-container
                = f.label :purpose, '必須', class: 'form-section-title__required-label'
                .form-section-title__title 使用可能用途
              .form-section-title__description このスペースをどのような目的に使ってよいか選択してください。複数選択可能。
            .create-space-sections__from-wrapper
              = f.fields_for :purpose, html: { class: 'checkbox-list__container' } do |p|
                .ant-checkbox-group
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :party, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span パーティー
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :meeting, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner 
                      %span 会議・研修
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :photo_shoot, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner 
                      %span 写真撮影
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :film_shoot, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner 
                      %span ロケ撮影
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :event, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span イベント
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :performance, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span 演奏・パフォーマンス
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :studio, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span 個展・展示会
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :sports, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span スポーツ・フィットネス
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :office, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span オフィス
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :wedding, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span 結婚式
                  %span.checkbox-list__wrapper
                    %label.ant-checkbox-wrapper
                      %span.ant-checkbox
                        = p.check_box :other, {}, checked_value = '1', unchecked_value = '0'
                        %span.ant-checkbox-inner
                      %span その他
                - if @basic_info.errors.messages.any?
                  %ul.form-item__errors-wrapper
                    - @basic_info.errors.messages[:'purpose.base'].each do |msg|
                      %li
                        %i.fas.fa-exclamation-circle
                        = msg
          .create-space-sections__section
            .form-section-title__container
              .form-section-title__title-container
                = f.label :capacity, '必須', class: 'form-section-title__required-label'
                .form-section-title__title 最大収容人数
              .form-section-title__description
            .create-space-sections__from-wrapper
              .parts-container
                .parts-container__container
                  %div
                    .input-container__container
                      = f.text_field :capacity, placeholder: '100', class: 'ant-input ant-input-sm'
                      人
                    .form-item__footer-wrapper
                      %p.form-item__footer
                    - if @basic_info.errors[:capacity].any?
                      %ul.form-item__errors-wrapper
                        - @basic_info.errors.messages[:capacity].each do |msg|
                          %li
                            %i.fas.fa-exclamation-circle
                            = msg
          .create-space-sections__section
            .form-section-title__container
              .form-section-title__title-container
                = f.label :floor_space, '必須', class: 'form-section-title__required-label'
                .form-section-title__title 床面積
              .form-section-title__description
            .create-space-sections__from-wrapper
              %div
                .input-container__container
                  = f.text_field :floor_space, placeholder: '100', class: 'ant-input ant-input-sm'
                  ㎡
                .form-item__footer-wrapper
                  %p.form-item__footer
                - if @basic_info.errors[:floor_space].any?
                  %ul.form-item__errors-wrapper
                    - @basic_info.errors.messages[:floor_space].each do |msg|
                      %li
                        %i.fas.fa-exclamation-circle
                        = msg
          .create-space-sections__section
            .form-section-title__container
              .form-section-title__title-container
                = f.label :passing_key_method, '必須', class: 'form-section-title__required-label'
                .form-section-title__title 鍵の受け渡し
              .form-section-title__description 利用日当日の鍵の受け渡し方法を選択してください。
            .create-space-sections__from-wrapper
              .radio-list__container
                .ant-radio-group
                  - ['対面', 'キーボックス', 'スマートロック', '予約成立後にメッセージで伝える'].each do |method|
                    %span.radio-list__wrapper
                      %label.ant-radio-wrapper
                        %span.ant-radio
                          = f.radio_button :passig_key_method, :method, class: 'ant-radio-input'
                          %span.ant-radio-inner                      
                            %span #{method}
            - if @basic_info.errors[:passig_key_method].any?
              %ul.form-item__errors-wrapper
                - @basic_info.errors.messages[:passig_key_method].each do |msg|
                  %li
                    %i.fas.fa-exclamation-circle
                    = msg
          .create-space-sections__section
            .form-section-title__container
              .form-section-title__title-container
                = f.label :deadline_of_reservation, '必須', class: 'form-section-title__required-label'
                .form-section-title__title 予約の締め切り
              .form-section-title__description
                利用日の何日前に予約を締め切るかを設定してください。
                例）「利用日の7日前」に設定→ゲストが4月8日に利用したい場合、4月1日以前に予約をする必要があります。
            .create-space-sections__from-wrapper
              %div
                .input-container__container
                  = f.select :deadline_of_reservation, BasicInfo.deadline_of_reservations.keys, {}, { class: 'ant-input ant-input-wd' }
                .form-item__footer-wrapper
                  %p.form-item__footer
          .create-space-sections__section
            .form-section-title__container
              .form-section-title__title-container
                = f.label :starting_of_reservation, '必須', class: 'form-section-title__required-label'
                .form-section-title__title 予約の受付期間
              .form-section-title__description
                ゲストが予約リクエストする日を起点として、利用日が何ヶ月先までの予約を受け付けるか設定してください。
                例）「12ヶ月先まで予約を受け付ける」を設定→2018年4月1日の場合、2019年4月1日まで予約を受け付けます。
            .create-space-sections__from-wrapper
              %div
                .input-container__container
                  = f.select :starting_of_reservation, BasicInfo.start_of_reservations.keys, {}, { class: 'ant-input ant-input-wd' }
                .form-item__footer-wrapper
                  %p.form-item__footer
    .float-bottom__container
      .float-bottom__line
      .float-bottom__content
        = f.hidden_field :space_id, value: @space_id
        = f.submit '保存して戻る', class: 'btn btn-default button-base__button-component gray-btn', id: 'submit-btn'
        = f.submit '保存して進む', class: 'btn btn-default button-base__button-component green-btn', id: 'submit-btn'
