.site-main
  .page__stripes.top-page__padding{class: "#{back}"}
    .container.top-container
      .top-title__container.clearfix
        %h2.top-title
          = title
      .top-units__container
        .row
          - spaces.each.with_index(1) do |space, rank|
            //カードここから//
            .col-xs-4
              %a.a__top-units{:href => "#"}
                .md-top-units
                  .md-top-units__image
                    .top-units-ranking.units-ranking.units-ranking__icon{class: "units-ranking__no#{rank}"}
                      .units-ranking__icon-body
                        %span.units-ranking__icon-number #{rank}
                    = image_tag(space.space_image.image_files.main.first.file, class: "md-top-units__image-pict")
                    %p.md-top-units__item-price
                      %span.md-top-units__item-per
                        ¥
                        = number_with_delimiter(space.plan.price_per_day)
                      %span.md-top-units__item-per /日
                      %span.md-top-units__price-icon
                        - if space.plan.reservation_approval_method == "承認なし（今すぐ予約）"
                          = fa_icon "bolt", class: "md-top-units__item-instant"
                        = fa_icon "certificate", class: "md-top-units__item-top-host"
                        = fa_icon "arrow-down", class: "md-top-units__item-icon-discount"
                  .md-top-units__body
                    .md-top-units__body-inner
                      %h3.md-top-units__body-title
                        = space.description.catch_copy.truncate(26)
                      %ul.md-top-units__body-info
                        %li
                          = fa_icon "user", class: "md-top-units__body-info__icon"
                          = space.basic_info.capacity
                        %li
                          = fa_icon "map-marker", class: "md-top-units__body-info__icon"
                          = space.equipment_info.prefecture
      .sm-hide.top-more__area
        %a.top-more__area-link{:href => "#"} #{title}で利用できるスペースをすべて見る >
