= render 'search/header'

.site-main
  .page__even
    .container
      .row
        .toggle
          %a.toggle-button
            %p.userSpace.check  あなたのスペース一覧
            %p.reserve 予約一覧

        .reservation-list.none
          .reservation-list__head-container
            .reservation-list__title
              %p 予約一覧
          - @reservations.each do |reservation|
            .reservation-list__contents-container
              .reservation-list__content
                .reservation-list__image
                  = image_tag(reservation.space.space_image.image_files.main.first.file)
                .reservation-list__info
                  .reservation-list__info__date
                    .reservation-list__info__left-text
                      %p ご利用日:
                    .reservation-list__info__right-text
                      %p #{reservation.day}
                  .reservation-list__info__space-info
                    .reservation-list__info__space-copy
                      %p #{reservation.space.description.catch_copy}

        .user-space
          .user-space__head
            .user-space__title
              %p あなたのスペース一覧
          - @spaces.each do |space|
            .user-space__contents
              .user-space__content
                .user-space__content__image
                  - if space.space_image
                    = image_tag(space.space_image.image_files.main.first.file, class: "preview")
                  - else
                    = image_tag("spesma3.png")
                .user-space__content__info
                  .user-space__content__info__space-info
                    .user-space__content__info__space-copy
                    - if space.description
                      %p #{space.description.catch_copy}
                  .user-space__content__info__space-address
                    .space-address__left
                      %i.fas.fa-map-marker-alt
                    .space-address__right
                      %p #{space.equipment_info.prefecture}#{space.equipment_info.city_name}#{space.equipment_info.street_name}
                      - if space.equipment_info.building_name
                        #{space.equipment_info.building_name}
                  .user-space__content__info__buttons
                    .space-edit
                      = link_to "スペース情報の編集", edit_space_path(space), class: 'space-edit__button'
                    .space-destroy
                      = link_to "スペース情報の削除", space_path(space), method: :delete, class: 'space-destroy__button', data: {confirm: "本当に削除しますか？"}
