= render 'new_space/header_float'
.main-contents-with-hint__inner
  = form_for(@space_image, html: {class: "main-contents-with-hint__wrapper"}) do |f|
    .main-contents-with-hint__main-wrapper
      .main-contents-with-hint__main
        .space-info-page__title-container
          .space-info-page__title 4 写真
          .space-info-page__description
        %div
          //写真
          .create-space-sections__section
            .form-section-title__container
              .form-section-title__title-container
                = f.label :image_files, "必須", class: "form-section-title__required-label"
                .form-section-title__title 写真
              .form-section-title__description ゲストが実際に利用するスペース、設備等の画像を最低1枚追加してください。推奨サイズは1260x840です。最大5枚まで追加できます。
            .photo-form__from-wrapper
              = f.fields_for :image_files do |img|
                .photo-form__add
                  %label.photo-form__add__mask
                    %i.fa.fa-plus.icon
                    %span 新規写真の追加
                    = img.file_field :file
                    = img.hidden_field :status, value: "main"
                .photocard__container
                  .photocard__photo
                    %i.fa.fa-image
                    %img#preview0
                  .photocard__text
                    = img.text_area :about_file, placeholder: "閑静なオフィス街にあるビル内の施設です。", class: "photocard__text__textarea"
            - if flash[:alert].present?
              %ul.form-item__errors-wrapper
                %li
                  %i.fas.fa-exclamation-circle
                  = flash[:alert]
          - (1..4).each do |i|
            .photo-form__from-wrapper
              = f.fields_for :image_files do |img|
                .photo-form__add
                  %label.photo-form__add__mask
                    %i.fa.fa-plus.icon
                    %span 新規写真の追加
                    = img.file_field :file
                    = img.hidden_field :status, value: "sub"
                .photocard__container
                  .photocard__photo
                    %i.fa.fa-image
                    %img{ id: "preview#{i}"}
                  .photocard__text
                    = img.text_area :about_file, placeholder: "閑静なオフィス街にあるビル内の施設です。", class: "photocard__text__textarea"
    .float-bottom__container
      .float-bottom__line
      .float-bottom__content
        = f.hidden_field :space_id, value: @space_id
        = f.submit "保存して戻る", class: "btn btn-default button-base__button-component gray-btn"
        = f.submit "保存して進む", class: "btn btn-default button-base__button-component green-btn"
