.float-head-base__wrapper
  .float-head-base__left-contents
    %div
      .title 新規スペースの作成
  .float-head-base__additional-contents
    .float-head-room-create-flow__flow-arrows-container
      %ul.flow-arrows__container
        %li.flow-arrows__flow-arrow
          = link_to '1 施設情報 ＞', class: 'flow-arrows__flow-arrow-active' 
        %li.flow-arrows__flow-arrow
          = link_to '＞ 2 基本情報 ＞', class: 'flow-arrows__flow-arrow-active'
        %li.flow-arrows__flow-arrow
          = link_to '＞ 3 説明文 ＞', class: 'flow-arrows__flow-arrow-active'
        %li.flow-arrows__flow-arrow
          = link_to '＞ 4 写真 ＞', class: 'flow-arrows__flow-arrow-active'
        %li.flow-arrows__flow-arrow
          = link_to '＞ 5 プラン ＞', class: 'flow-arrows__flow-arrow-active'
