.header.float-header
  .site-header.clearfix.HeaderContainer__SiteHeader-sc-1dznt2s-0.ldcZBj.hostcolor
    %p.fl
      = link_to "", root_path, class: "site-header__logo"
    %div
      %ul.site-header__nav.sm-hide.hostcolor
        %li
          = link_to root_path, class: "site-header__nav-user" do
            = image_tag "https://yononakanews.com/wp-content/uploads/2015/10/odagiri.jpg", class: "site-header__nav-user"
        %li
          = link_to root_path, class: "site-header__nav-message" do
            %i.fa.fa-check.hostcolor
        %li
          = link_to root_path, class: "site-header__nav-message" do
            %i.fa.fa-envelope-o.hostcolor
        //FIXME テキストの色$whiteに変更
        %li
          = link_to "ヘルプ", root_path, class: "site-header__nav-help link-black link-borderless help__text"
  .float-head-base__wrapper
    .float-head-base__left-contents
      %div
        .title 新規スペースの作成
    .float-head-base__additional-contents
      .float-head-room-create-flow__flow-arrows-container
        %ul.flow-arrows__container
          %li.flow-arrows__flow-arrow
            .flow-arrows__flow-arrow-active 1 施設情報 ＞
          %li.flow-arrows__flow-arrow
            .flow-arrows__flow-arrow-active ＞ 2 基本情報 ＞
          %li.flow-arrows__flow-arrow
            .flow-arrows__flow-arrow-active ＞ 3 説明文 ＞
          %li.flow-arrows__flow-arrow
            .flow-arrows__flow-arrow-active ＞ 4 写真 ＞
          %li.flow-arrows__flow-arrow
            .flow-arrows__flow-arrow-active ＞ 5 プラン ＞
