= render 'header'
= render 'favorite_ranking'
= render 'recommend_ranking'
= render 'regist_yellow'
= render 'party_ranking'
= render 'meeting_ranking'
= render 'stay_ranking'
= render 'banner'
= render 'studio_ranking'
= render 'location_ranking'
= render 'sports_ranking'
= render 'regist_banner_blue'
