!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title SpaceMarket
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'new_space', 'data-turbolinks-track': 'reload'
    %script{:crossorigin => "anonymous", :defer => "defer", :integrity => "sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9", :src => "https://use.fontawesome.com/releases/v5.1.0/js/all.js"}
  %body
    = render 'new_space/header_nav'
    = yield
